html
  head
    script(src="/js/upload.js")

  include ../includes/header.pug

  body
    div(class="main")
      form(
        class="pure-form pure-form-stacked"
        action="/graphs"
        method="post"
        enctype="multipart/form-data"
        accept="application/JSON"
      )
        fieldset
          legend Select a json graph to upload
          
          input(
            type='file'
            id='uploadFile'
            name='uploadFile'
            checked=friendly
          )

          button(
            class="pure-button pure-button-primary"
            id='submit'
            value="Enviar arquivo"
            disabled='true'
          ) Enviar arquivo

      p(id='message')